<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SampleController5</title>
</head>
<body>
	<div>
		<h3 th:text="${ heading }">제목</h3>
		<p>사용자가 입력한 유저 정보</p>
		<table cellpadding=10 border=1>
		
			<tr>
				<td>Title</td>
				<td><input type="text" th:value="${ bookDTO.getTitle() }" readonly></td>					
			</tr>
			
			<tr>
				<td>Author</td>
				<td><input type="text" th:value="${ bookDTO.getAuthor() }" readonly></td>					
			</tr>
			
			<tr>
				<td>Publisher</td>
				<td><input type="text" th:value="${ bookDTO.getPublisher() }" readonly></td>					
			</tr>
			
			<tr>
				<td>PublishingDate</td>
				<td><input type="text" th:value="${ bookDTO.getPublishingDate() }" readonly></td>					
			</tr>
		
		</table>
	</div>

</body>
</html>