<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SampleController4</title>
</head>
<body>
	<div>
		<h3 th:text="${ heading }">제목</h3>
		<p>사용자가 입력한 유저 정보</p>
		<table cellpadding=10 border=1>
		
			<tr>
				<td>userName</td>
				<td><input type="text" th:value="${ userDTO.getUserName() }" readonly></td>					
			</tr>
			
			<tr>
				<td>userId</td>
				<td><input type="text" th:value="${ userDTO.getUserId() }" readonly></td>					
			</tr>
			
			<tr>
				<td>userPhone</td>
				<td><input type="text" th:value="${ userDTO.getUserPhone() }" readonly></td>					
			</tr>
		
		</table>
	</div>

</body>
</html>