<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SampleController4Form</title>
</head>
<body>

	<h1>스프링부트 객체 전달</h1>
	
	<form action="/SampleController4View" method="POST" target="_blank">
	
		<label for="userName">userName : </label>
		<input type="text" id="userName" name="userName"><br>
		
		<label for="userId">userId : </label>
		<input type="text" id="userId" name="userId"><br>
		
		<label for="userPhone">userPhone : </label>
		<input type="text" id="userPhone" name="userPhone"><br>
		
		<input type="submit" value=" 전 송 ">
		
		
	</form>

</body>
</html>